@page "{restaurantId:int}"
@model MyApp.Namespace.DetailModel
@{
    ViewData["Title"] = "Details";

}

<div class="card text-left">
  <img class="card-img-top" src="~/bird.jpg" height="500px" width="500px">
  <div class="card-body">
    <h4 class="card-title">@Model.Restaurant.Name</h4>
        <div>
    <div>
        Id: @Model.Restaurant.Id
    </div>
        <div>
        Location: @Model.Restaurant.Location
    </div>
        <div>
        Cuisine: @Model.Restaurant.Cuisine
    </div>
    @if(Model.Message!=null)
    {
        <div class="alert alert-info">
            @Model.Message
        </div>
    }
    <div>
        <a asp-page=".\List">All Restaurants</a>
    </div>
</div>
  </div>
</div>